/*!CK:4219971068!*//*1395630784,178127445*/

._5292{float:left;margin-left:-7px;padding-right:1px;z-index:5}._5292 a,._5292 a:hover,._5292 a:focus,._5292 a:active{display:block;height:31px;outline:none;overflow:hidden;white-space:nowrap;width:103px}._5292 a:hover,._5292 a:focus,._5292 a:active{background-color:#4b67a1}
._4_zc:hover{text-decoration:none}

#bootloader_43IUc { height: 42px; }
.bootloader_43IUc { display:block !important; }