/*!CK:1201818326!*//*1395451190,178179377*/

._5p3y ._y92,._5qrt._y92 .ego_unit_container,._5p3y ._jh6{margin:0}._y92 .ego_unit_container{margin:0 8px;padding:0}._5p3y ._y92 .ego_unit{margin:0;padding:10px 0}._5qrt._y92 ._jh6{margin:10px 0}._5ciw ._y92 .ego_section .ego_unit_container .ego_unit{padding-top:10px}._5pcz{-webkit-box-sizing:border-box}._5pc- ._5pcz{padding:28.125% 0}._5pc_ ._5pcz{padding:18.519% 0}._5pd0 ._5pcz{padding:26.178% 0}._jh8{width:100%}._jh7{width:75%}._5ciw ._jh8{width:254px}._5ciw ._jh7{width:195px}._5pd3{color:#898f9c}
._2sn{background-size:cover;background-position:50% 50%;background-repeat:no-repeat}

#bootloader_ji85y { height: 42px; }
.bootloader_ji85y { display:block !important; }