/*!CK:3008952859!*//*1395101181,178179377*/

._z3i{height:42px;line-height:14px;overflow:hidden;white-space:pre-wrap}._z3h .UFIList{margin-top:3px}html ._1mbd{border-top:none;position:relative}._1mbe{margin-top:2px;position:absolute;right:0;top:0}._5qt1 ._z3h{display:inline-block;margin:0 0 7px 7px;vertical-align:top;width:406px}._5r68 ._z3h{width:382px}._2s12{margin:0 0 8px -7px}._z3h .uiUfi{width:auto}
._2t8p .note .uiUfi{width:301px}

#bootloader_XB25r { height: 42px; }
.bootloader_XB25r { display:block !important; }