img.latex{border:none;vertical-align:middle;}.video-player{border:0;margin:auto;padding:5px;text-align:center;}.wpvidavee_title{font-family:Tahoma,Arial,sans-serif;font-size:10px;font-weight:bold;line-height:12px;padding:2px 5px;text-align:left;}.wpvidavee_footer{font-family:Tahoma,Arial,sans-serif;font-size:9px;line-height:11px;padding:2px 5px;text-align:right;}.wpvidavee_footer a{text-decoration:none;}.wpvidavee_p{color:red;}.hidden{display:none;}.possibly-related{clear:both;}.screen-reader-text{position:absolute;left:-1000em;}.comment object,
.comment embed{max-width:100%;}
/*
     FILE ARCHIVED ON 15:42:32 Feb 16, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:16:31 Aug 30, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.344
  PetaboxLoader3.resolve: 50.944 (2)
  esindex: 0.024
  CDXLines.iter: 50.901 (3)
  exclusion.robots.policy: 0.318
  captures_list: 435.196
  load_resource: 61.668
  RedisCDXSource: 1.875
  PetaboxLoader3.datanode: 87.594 (4)
  LoadShardBlock: 140.898 (3)
*/