.textwidget input[type='text'], .textwidget textarea{width:100% !important;}.contact-form .clear-form{clear:both;}.contact-form input[type='text']{width:300px;margin-bottom:13px;}.contact-form select{margin-bottom:13px;}.contact-form textarea{height:200px;width:80%;float:none;margin-bottom:13px;}.contact-form input[type='radio'], .contact-form input[type='checkbox']{float:none;margin-bottom:13px;}.contact-form label{margin-bottom:3px;float:none;font-weight:bold;display:block;}.contact-form label.checkbox, .contact-form label.radio{margin-bottom:3px;float:none;font-weight:bold;display:inline-block;}.contact-form label span{color:#AAA;margin-left:4px;font-weight:normal;}
/*
     FILE ARCHIVED ON 15:42:28 Feb 16, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:16:30 Aug 30, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 1.186
  exclusion.robots: 0.203
  captures_list: 290.866
  esindex: 0.014
  PetaboxLoader3.datanode: 139.64 (4)
  CDXLines.iter: 43.545 (3)
  load_resource: 103.375
  PetaboxLoader3.resolve: 178.935 (3)
  LoadShardBlock: 229.692 (3)
  exclusion.robots.policy: 0.19
*/