/*!CK:1735858292!*//*1397439409,178171215*/

.pagesJoinedFacebookUnit{text-align:center}.pagesJoinedFacebookUnit .joinedTitle{font-size:18px}
._4_zc:hover{text-decoration:none}
#fbTimelinePermalinkHeadline{padding-top:47px}.timelinePermalink #contentArea{padding-top:50px}.timelinePermalinkSection .fbTimelineOneColumn{top:30px;margin-top:-30px}
.fbTimelineCapsule li.anchorUnit:last-child{background:#e7ebf2;margin-bottom:-15px;padding-bottom:15px}#pagelet_timeline_recent .anchorUnit:last-child{margin-bottom:16px}
._4lc9{border-left:1px solid #d3d6db;border-right:1px solid #d3d6db}._4lca{background-color:#fff}._4lcb{display:block;padding:10px}._4lcb:hover{background-color:#f6f7f8;text-decoration:none}._4lcc{border-top:1px solid #d3d6db}
._18dl{background:#fff;border-left:1px solid #d3d6db;border-right:1px solid #d3d6db}._18dm{color:#6a7480}html ._18dl ._2t8j{margin:2px}._1ri3{margin:2px}
.friendOGReportUsers .actorsFacepile,.friendsAddedUnit{margin:-10px -22px -12px -18px}

#bootloader_n9RsN { height: 42px; }
.bootloader_n9RsN { display:block !important; }