/*!CK:1135848709!*//*1397443040,178183447*/

.createdAccountUnit{text-align:center}
.notePhotoWrap .photoWrap{height:140px;width:140px}.fbTimelineOneColumn .notePhotoWrap .photoWrap{height:200px;width:200px}

#bootloader_Cf7mI { height: 42px; }
.bootloader_Cf7mI { display:block !important; }