/*!CK:2808921146!*//*1384080153,173213717*/

.notePhotoWrap .photoWrap{height:140px;width:140px}
.fbTimelineOneColumn .notePhotoWrap .photoWrap{height:200px;width:200px}

#bootloader_53__n { height: 42px; }
.bootloader_53__n { display:block !important; }