/*!CK:979215740!*//*1392694913,178163779*/

#fbTimelinePermalinkHeadline{height:47px}
#fbTimelinePermalinkHeadline .fbTimelineNavigationPagelet{display:none}
.timelinePermalink #contentArea{padding-top:50px}
.timelinePermalinkSection .fbTimelineOneColumn{top:30px;margin-top:-30px}
.sp_b97z76{background-image:url(/rsrc.php/v2/y3/r/WYFydAGI96O.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}
.sx_dd7471{background-position:0 0}
.sx_a1b810{background-position:0 -33px}

#bootloader_djLcK { height: 42px; }
.bootloader_djLcK { display:block !important; }