/*!CK:2854590596!*//*1391497794,178183213*/

._5dgn{line-height:2em}
.pymkAttachmentList > li{margin-top:2px}
.pymkAttachment{display:inline;outline:none}
.pymkAttachmentWithBorder{border-bottom:1px solid #e9e9e9;padding-bottom:15px}

#bootloader_h0n3Q { height: 42px; }
.bootloader_h0n3Q { display:block !important; }