/*!CK:4230592312!*//*1392692677,178191129*/

#hubs_wikipedia .editsection, #hubs_wikipedia sup, #mw-hidden-catlinks, #hubs_wikipedia #app100573140000096_catlinks, #hubs_wikipedia #app100573140000096_siteSub, #hubs_wikipedia #app100573140000096_firstHeading, #hubs_wikipedia #app100573140000096_toc, #hubs_wikipedia .printonly, #hubs_wikipedia .toc, #hubs_wikipedia .infobox, #hubs_wikipedia .infobox_v2, #hubs_wikipedia table.navbox, #hubs_wikipedia table.ambox, #hubs_wikipedia table.mbox-small, #hubs_wikipedia table.succession-box, #hubs_wikipedia table.stub, #hubs_wikipedia .dablink, #hubs_wikipedia #app100573140000096_coordinates, #hubs_wikipedia #app100573140000096_jump-to-nav, #hubs_wikipedia .printfooter, #hubs_wikipedia .hiddenStructure, #hubs_wikipedia .vertical-navbox, .wikipedia_redirect #hubs_wikipedia #app100573140000096_contentSub{display:none;margin:0;padding:0}
#hubs_wikipedia h2{font-size:11px;border-bottom:1px solid #e9e9e9;border-top:1px solid #aaa;padding:.5em 0;margin:15px 0 10px 0}
#hubs_wikipedia h3, #hubs_wikipedia h4{margin-bottom:2px;font-size:11px;line-height:16px}
#hubs_wikipedia h3 + h4{display:none}
#hubs_wikipedia p, #hubs_wikitable .wikitable, #hubs_wikipedia ul, #hubs_wikipedia dl{margin:0 0 10px 0;line-height:16px}
#hubs_wikipedia ul{line-height:14px;list-style-position:outside;list-style-type:disc;padding-left:15px}
#hubs_wikipedia ul ul{margin-top:5px;margin-bottom:0}
#hubs_wikipedia ul li{display:list-item;padding-bottom:3px;line-height:16px}
#hubs_wikipedia dt{margin:0;color:#000}
#hubs_wikipedia dd{margin:0 0 5px 15px}
#hubs_wikipedia table.metadata{margin-bottom:10px;border:1px solid #ccc;background:#f7f7f7 !important}
#hubs_wikipedia blockquote{border-left:3px solid #ccc;color:#606060;padding:0 0 0 10px !important;margin:0 0 10px 0 !important;line-height:16px}
#hubs_wikipedia ol{margin:2px 0 10px 0}
#hubs_wikipedia ol li{margin:0 0 2px 0}
#hubs_wikipedia table.toccolours{border:1px solid #ccc;background:#f7f7f7}
#hubs_wikipedia i{font-family:'lucida grande',tahoma,verdana,arial,sans-serif}
.hubs_wikipedia div.source_divider{border-color:#e9e9e9;border-style:solid;border-width:1px 0 0;margin:5px 0 10px}
#hubs_wikipedia table{width:100%;border-color:#ccc !important;border-collapse:collapse;border-width:1px !important;margin-bottom:10px}
#hubs_wikipedia table th{background:#f7f7f7 !important;color:#333 !important;padding:2px}
#hubs_wikipedia table td{padding:2px}
#hubs_wikipedia table span{font-size:100% !important}
#hubs_wikipedia .rellink{color:gray;margin-bottom:2px}
#hubs_wikipedia .portal table{margin:0}
#hubs_wikipedia .external{padding-right:12px;background:url(/rsrc.php/v2/yW/r/AebrcwrBeG6.png) no-repeat right 3px}
#hubs_wikipedia div.thumb{margin-bottom:5px;border-color:#fff;border-style:solid;width:auto}
#hubs_wikipedia div.thumbinner{border:1px solid #ccc;padding:3px !important;background-color:#f9f9f9;text-align:center;overflow:hidden}
#hubs_wikipedia .thumbimage{border:1px solid #ccc}
#hubs_wikipedia .thumbcaption{border:none;text-align:left;padding:3px !important;font-size:11px}
#hubs_wikipedia img.thumbborder{border:1px solid #ddd}
#hubs_wikipedia a.new{color:#333}
#hubs_wikipedia div.magnify{float:right;border:none !important;background:none !important}
#hubs_wikipedia div.magnify a{display:block;border:none !important;background:none !important}
#hubs_wikipedia div.magnify img{display:none}
#hubs_wikipedia div.tright{border-width:0 0 10px 10px;clear:right;float:right}
#hubs_wikipedia div.tleft{border-width:5px 10px 5px 0;clear:left;float:left;margin-right:5px}
#hubs_wikipedia .wikipedia_citation{border-top:1px solid #ccc;clear:both;color:#666;margin:10px 0 0 0;padding:5px 0 10px 0}
#hubs_wikipedia .wikipedia_citation a{color:#8d9ccf}
.profile .wiki_source{padding-top:20px}
.profile .wikipedia-description p{margin:1px 0 10px;line-height:16px}
.profile .wikipedia-description h2, .profile .wikipedia-description h3{margin:0;font-size:11px}
.profile .wikipedia-description h2 + h3{display:none}
.profile .wikipedia-description i{font-family:'lucida grande',tahoma,verdana,arial,sans-serif}
.profile .wikipedia-description ul{line-height:14px;list-style-position:outside;list-style-type:disc;padding-left:15px;margin-bottom:7px}
.profile .wikipedia-description ul li{display:list-item;padding-bottom:3px}
.profile .wikipedia-description .external{padding-right:12px;background:url(/rsrc.php/v2/yW/r/AebrcwrBeG6.png) no-repeat right 3px}
a.egoMediaThumb i,
span.egoMediaThumb i{height:66px;width:94px}
a.egoMediaThumbMedium i,
span.egoMediaThumbMedium i{height:78px;width:104px}
.egoTimelineIntro a.egoMediaThumbMedium i,
.egoTimelineIntro span.egoMediaThumbMedium i{height:70px;width:104px}
.egoPlaceComboInput form{display:table;width:100%}
.egoPlaceComboInput form .uiTypeaheadSpan, .egoPlaceComboInput form .uiButton{display:table-cell}
.egoPlaceComboInput .uiTypeaheadSpan{width:100%;padding:0 5px 0 0}
.egoPlaceComboInput .uiTypeahead, .egoPlaceComboInput .uiButton{margin:0}
.egoPlaceComboInput .uiButtonConfirm{margin-left:189px;margin-top:7px}
.egoPlaceComboInput .PlacesTypeaheadViewList{z-index:99}
.egoPhotoImage{float:left;padding-bottom:3px}
.egoPhotoContext{padding-top:3px}
._5ay5{margin-bottom:15px}
._5ay5:empty{display:none}
._54d3{vertical-align:top;white-space:nowrap;width:21%}
._54d4{vertical-align:top;width:79%}
._54d5._54cv:hover{background-color:rgba(165, 175, 200, .2);cursor:pointer}
._5bd_{width:100%}
._54d6{border-bottom:1px solid #d9d9d9}
._5ajp{width:97.5%}
._5arx .uiComboInput{width:99.75%}
._5arx .nullableNullSelector{float:right}
._5arx .uiTypeahead{width:90%}
._5arx input.nullableTextField{width:87.5%}
._5be0{margin:0 auto 15px auto;width:75%}
._5be0 a{color:inherit}
._5be0 img{margin-top:6px}
._5be0 hr{display:none}
._5be1
.uiInputLabel label em{font-size:12px;margin-left:5px}
._5be2 ._5bd_{padding:0 25px;width:95%}
._5be2
._5bd_
._5ajp{width:91.25%}
._5be2
._5bd_
._5arx{width:93.5%}
._5be2
._5bd_
._54d5
._5ajp{width:98%}
._5be2
._5bd_
._54d5
._5arx{width:100%}
._5be2
._5bd_
._54d5
._5arx
.nullableTextField{width:90%}
._5be2
._5bd_
.uiTokenizer{width:92.5%}
._5xh9{width:340px}
._idq{border-top:1px solid #ccc}
._idr{border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc}
._kqu{max-width:330px}
.pageRatingStars.uiStars i{height:20px;width:20px}
.pageRatingStars.uiStars .emptyStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
.pageRatingStars.uiStars .onefourthStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -42px}
.pageRatingStars.uiStars .halfStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -21px}
.pageRatingStars.uiStars .threefourthsStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -84px}
.pageRatingStars.uiStars .fullStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -63px}
.pageRatingStars.uiStars.smallStars i{height:13px;width:13px}
.pageRatingStars.uiStars.smallStars .emptyStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -147px}
.pageRatingStars.uiStars.smallStars .onefourthStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -119px}
.pageRatingStars.uiStars.smallStars .halfStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -105px}
.pageRatingStars.uiStars.smallStars .threefourthsStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -161px}
.pageRatingStars.uiStars.smallStars .fullStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -133px}
._4dwi{background:#6d84b4;color:#fff;font-size:14px;font-weight:bold;margin:0;padding:5px 30px 5px 10px}
._4dwg{padding:15px}
._4dwh{padding:0 15px 15px}
._4dwj{border-color:#e9e9e9;border-style:solid;border-width:1px 0 0}
._4dwf{text-align:center}
._1bgn{border:solid 1px #ddd;float:right;padding:2px;position:relative;right:55px}
._1lcy{width:120px}
.nullableFieldDisabled .nullableTypeaheadButton,
.nullableFieldEnabled .nullableTypeaheadButton,
.nullableTypeaheadEnabled .nullableComboField,
.nullableTypeaheadEnabled .nullableDisabledButton{display:none}
.create_album_form textarea,
.create_album_form .inputtext{width:380px}
.PlacesTypeaheadView{overflow:hidden}
.PlacesTypeaheadViewPopulated{background:#fff;border:solid;border-width:1px 1px 2px;border-color:#333 #333 #293e6a;padding:2px 0 0 0}
.PlacesTypeaheadView .uiScrollableArea, .PlacesTypeaheadView .uiScrollableAreaWrap{max-height:200px}
div.PlacesTypeaheadView ul{border:0;padding:0}
.PlacesTypeaheadView .uiDynamicMap{border-top:1px solid #ddd}
.PlacesTypeaheadView .compact .placecreate, .PlacesTypeaheadView .places .placecreate, .PlacesTypeaheadView .compact .freeform, .PlacesTypeaheadView .places .freeform{border-top-color:#ddd;min-height:10px;padding:2px 6px 1px;text-align:center}
div.PlacesTypeaheadView .selected{background-color:#6d84b4;border-color:#3b5998}
.PlacesTypeaheadFocused, .PlacesTypeaheadFocused .uiTypeahead{z-index:3}
.PlacesTypeaheadMapWrapper{line-height:0}
._3nm{background-color:#fff;border:1px solid #d2d2d2;border-bottom-color:#afafaf;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;border-top:0 none;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .05);font-family:"Helvetica Neue", "Helvetica", "Arial", sans-serif;margin-bottom:20px;padding:20px;width:950px}
._3nm ._3no{padding-right:20px;width:264px;vertical-align:top}
._3nm ._3ut{width:666px;vertical-align:top}
._54yq{font-family:"helvetica neue", helvetica, arial, sans-serif;-webkit-font-smoothing:antialiased}
._54yq h2{display:inline;font-size:24px;font-weight:bolder;margin-left:-1px}
._54yq ._54yr{color:gray;display:inline;font-size:24px;margin-right:8px}
._3nm._59ga{overflow:hidden;padding:0;width:100%}
._3nm ._59gb{margin:20px}
._3nm ._59gc{display:block;text-align:right}
._3nm ._59gd{color:gray;margin-right:12px;vertical-align:middle}
._3nm .uiButtonGroup{vertical-align:top}
._3nm .uiButtonGroup .uiButtonGroupItem:empty{display:none}
._3nm .uiButtonGroup .uiMenu{font-family:"Lucida Grande", "Helvetica", "Arial", sans-serif}
.uiButtonGroup ._59nn.uiButtonLarge{padding-right:23px}
._3nm .addToMapForm label{height:19px;background-color:transparent;background-image:url(/rsrc.php/v2/ys/r/erQtkPhJhlW.png);background-repeat:no-repeat;background-size:auto;background-position:0 -4px;border-left:0;border-right:0}
._3nm .addToMapForm label i{margin-top:4px}
._3nm .addToMapForm label input{font-size:13px;font-weight:bold;line-height:16px}
._3nm ._5a-{width:100%;margin-top:5px}
._3nm ._5a- > tbody > tr > td{vertical-align:top}
._3nm ._3q9{font:13px/20px "Lucida Grande", "Helvetica", "Arial", sans-serif;color:#444}
._3nm ._3q9 .text_exposed_link{font-size:inherit}
._3nm ._3q9 p:first-child{margin-top:0}
._3nm #hubs_wikipedia{padding-bottom:20px}
._3nm ._3no ._3nq{padding:0;margin-top:20px}
._3nm ._3nq{float:right;padding-left:15px;width:264px}
._6nw ._3nm ._5a_, ._3nm ._5a_{border-top:1px solid #ededed;color:#444;font:13px/18px "Lucida Grande", "Helvetica", "Arial", sans-serif;padding:5px 0}
._3nm ._5a_ .img{vertical-align:-1px;margin-right:6px}
._3nm ._5a_:first-child{border-top:0 none;padding-top:0}
._3nm ._5a_:last-child{padding-bottom:0}
._3nm ._5a_ ._5b0{font-weight:bold;margin-right:6px}
._5a_{width:100%}
._5a_ td._5l5, ._5a_ td._5l6, ._5a_ td._5l6 a[role="button"]{font:13px/18px "Lucida Grande", "Helvetica", "Arial", sans-serif !important}
._5a_ ._5l5{width:15px}
._5a_ ._5l5 ._5fre{margin-left:3px;margin-right:7px;vertical-align:-3px}
._3nm ._5b1{color:gray;font:13px/16px "Lucida Grande", "Helvetica", "Arial", sans-serif !important;height:18px;margin-bottom:10px;margin-top:5px}
._3nm ._5b1 .fsm{font:13px/18px "Lucida Grande", "Helvetica", "Arial", sans-serif !important}
._3nm ._5b1 a.uiLinkSubtle{color:gray}
._54q{border-spacing:0;margin-bottom:10px;width:350px}
._54r, ._54r td{color:#444;font-family:'Lucida Grande', Helvetica, Arial, sans-serif !important;font-size:13px !important;line-height:18px !important}
._54s, ._54t{vertical-align:top;padding-bottom:4px}
._54q tr:last-child ._54s, ._54q tr:list-child ._54t{padding-bottom:0}
._54s{font-weight:bold;padding-right:8px}
._54t{padding-right:20px}
._54q > tbody > tr > td:last-child{padding-right:0}
._54q .hours{width:100%}
._54q .hours .day{padding-right:5px;width:40px}
._54q .hours .day.days{width:75px}
._29t blockquote{margin:0}
._29t blockquote > p:first-child{margin-top:0}
._29t #hubs_wikipedia{display:block;font:13px/20px "Lucida Grande", "Helvetica", "Arial", sans-serif}
._29t #hubs_wikipedia .pef-notification-container{display:none}
._29t #hubs_wikipedia .metadata.topicon{display:none}
._29t ._3tc{display:block;margin:auto;margin-top:40px}
._29t ._4qq{display:block}
._29t #hubs_wikipedia p, ._29t #hubs_wikipedia ul, ._29t #hubs_wikipedia dl{line-height:1.6}
._4m76{display:block;position:relative}
._4m76 .fbTimelineSelector{display:block;position:absolute;right:8px;top:6px}
._597b{opacity:.4;position:absolute;top:0}
._4m76 .fbTimelineSelectorButton, ._510y{opacity:0}
._52tm .fbTimelineSelectorButton, ._4m76:hover .fbTimelineSelectorButton, ._4m76:hover ._510y, .openToggler .fbTimelineSelectorButton{opacity:.95}
._5656{display:none;height:100%;position:absolute;top:0;width:100%}
._4m76.profilePicLoading
._5656{background:url(/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat center center;display:block}
._4m76.profilePicLoading
.fbTimelineSelectorButton, ._4m76.profilePicLoading
._510y{display:none}
._510y{left:8px;position:absolute;top:6px}
._4m76 ._519y{width:100%}
._5fsu{background-color:#333;bottom:0;left:0;position:absolute;width:100%}
._5fsu a{color:#fff}
._5fsu a:hover{text-decoration:none}
._4m76 ._5fsu{bottom:auto;-webkit-box-shadow:none;left:auto;padding:0 8px;position:absolute;right:12px;top:12px;width:auto}
._5frh{float:right}
._3ni{width:244px;float:right}
._3nj{width:726px;float:left}
._69d{border:1px solid #d2d2d2;overflow:hidden;text-overflow:ellipsis;position:relative}
._69d ._69e{bottom:8px;position:absolute;right:8px}
._69d ._5dhk{position:absolute;right:8px;top:8px}
._69f{margin:8px 15px 8px 15px}
._69g{font-size:16px;font-weight:bold;line-height:22px;max-width:500px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._69d ._69h{margin-bottom:10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#666;font-size:12px}
._69d ._69h a{color:#666}
._69i{border-spacing:0}
._69i td{vertical-align:top}
._69i td:first-child{width:12px}
._4w9{width:124px;word-wrap:break-word}
._4wa{font:11px/14px "Lucida Grande", "Helvetica", "Arial", sans-serif}
._4wb{font:13px/16px "Lucida Grande", "Helvetica", "Arial", sans-serif;margin-top:5px}
._4wc, ._4wc ._50hf, ._4wc a{color:#999}
._4wc{margin-top:3px}
table._435{border-spacing:0}
._437{vertical-align:top}
._438{width:100%;text-align:center;font:11px/16px "Lucida Grande", "Helvetica", "Arial", sans-serif;margin-top:10px}
._438 a{color:#666}
._436:first-child ._437{padding-top:0}
._436:last-child ._437{padding-bottom:0}
._436 ._437:first-child{padding-left:0}
._436 ._437:last-child{padding-right:0}
._435 ._436:first-child ._437{padding-top:0}
._435 ._436 ._437{padding-top:16px;padding-right:16px}
._435 ._436 ._437:last-child{padding-right:0}
._3nl #globalContainer #contentArea{width:992px !important}
._3nl{background-color:#f7f7f7 !important}
._gl{margin-bottom:20px}
._3nj ._gl, ._3ni ._gl._498{background:white;border:1px solid #d2d2d2;border-bottom-color:#afafaf;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .05);-webkit-border-radius:3px;padding:20px}
._1zd._gm{margin-top:0}
._3ng{display:none}
._4ty{font-family:"Helvetica Neue", "Helvetica", "Arial", sans-serif}
._4qd h3{color:#444;font:bold 20px "Helvetica Neue", "Helvetica", "Arial", sans-serif;margin:-4px 0 0 -1px}
._4qd{margin-bottom:10px}
._3ni ._4qd h3{color:#919191;font-size:16px}
._4qc ._4qd{margin:0}
._6y9{margin-top:3px;margin-bottom:14px;overflow:hidden}
._4qe{font:500 14px "Helvetica Neue", "Helvetica", "Arial", sans-serif;padding:0 5px 5px 0;border-bottom:1px solid #ccc;height:33px}
._4qa{bottom:-7px;color:#c2c2c2;cursor:pointer;display:inline-block;margin-right:5px;position:relative}
._4qa ._4qf{color:#b2b2b2;display:inline-block;margin-left:5px}
._4qa._4lt ._4qf{color:#777}
._4qa:hover{text-decoration:underline;color:#989898}
._4qa._4lt{color:#444}
._4qa._4lt::after{width:10px;height:10px;display:inline-block;text-align:center;content:" ";background:white;border-right:1px solid #ccc;border-bottom:1px solid #ccc;-webkit-transform:rotate(-135deg);margin-left:50%;left:-10px;position:relative;margin-bottom:-7px}
._4qa::after{width:10px;height:10px;display:inline-block;text-align:center;content:" ";margin-left:50%;left:-10px;position:relative;margin-bottom:-7px}
#vertex_place_information .uiInfoTable{margin:3px 3px 3px 3px}
#vertex_place_information .uiInfoTable .label{width:auto;text-align:left}
._1vd{margin-top:8px}
._1vd .nearby_pager{margin-left:0;margin-right:0}
._4tw{margin-bottom:10px}
._4tw .uiTypeahead .textInput{width:237px !important}
._40d ._1s8{-webkit-box-shadow:none;border:1px solid #d2d2d2}
._4lz{width:100%}
._4lz ._4l- ._4l_{padding-right:10px}
._4lz ._4l- ._4m0{font-weight:bold;font-size:14px}
._4tv{margin:-3px;white-space:nowrap}
._5xe{margin:2px;vertical-align:top;border:1px solid #c4cee2;border-color:rgba(59, 89, 152, .25)}
._4tv ._53d{bottom:0;left:0;right:0}
._2f-_{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:400px}
._559l{margin-top:20px;max-width:529px}
._559l .uiMorePager{margin-top:20px;width:684px}
._559m{margin-bottom:15px}
._4w6{border-bottom:1px solid #ccc;width:100%;padding-bottom:5px;margin-bottom:14px;font:500 14px "Helvetica Neue", "Helvetica", "Arial", sans-serif;color:#444}
._4w7{display:inline-block;font-size:11px;letter-spacing:normal;margin-bottom:20px;vertical-align:top}
._4w7:only-child, ._4w7:last-child{margin-bottom:0}
._4w8{letter-spacing:15px;font-size:1px}
.sp_cl6cr8{background-image:url(/rsrc.php/v2/yj/r/2AhTAtYQ5UV.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_809db9{background-position:0 0}
.sx_4b2da7{background-position:0 -17px}
._4288 .uiMorePagerPrimary{border-top:none;display:inline-block;padding:0}
._4288 .uiMorePagerLoader{border-top:none;padding:0}
._4288 .uiMorePagerPrimary:hover{background-color:#fff;border-top:none}
._4288 a{color:#666}
.async_saving .uiMorePagerPrimary{display:none}
.uiTypeaheadView .noTrucating .text, .uiTypeaheadView .noTrucating .subtext, .uiTypeaheadView .noTrucating .category{text-overflow:clip;white-space:normal}

#bootloader_qJbGD { height: 42px; }
.bootloader_qJbGD { display:block !important; }