/*!CK:2914880093!*//*1393211798,178191663*/

._45kp{display:block}
._47ol{color:#4d66ae}
._47om{display:inline-block;vertical-align:bottom}
._4-k8{vertical-align:top}
._4-i9{width:280px}
._5m4l{width:272px}
._51l2 .nullableDisabledText, ._51l2 .uiClearableTypeahead{width:256px}
._51l2 .nullableTextField{width:249px}
._4-ye{width:95%}
._4-yf{margin-top:10px}
._4-yg{margin-left:57px;width:402px}
._50pg{width:270px}
._5b2_{word-wrap:break-word}
.fbSettingsEditor{position:relative}
.fbSettingsEditorLabel{left:0;position:absolute;width:155px}
.show_label .fbSettingsEditorFields{margin-left:180px}
.fbSettingsEditorFields .saveThrobber,
.fbNotifSettingsEditorFields .saveThrobber{vertical-align:middle}
.fbSettingsEditorFields{width:400px}
.fbSettingsEditorFields .label,
.fbNotifSettingsEditorFields .label{min-width:100px}
.wide_editor .fbSettingsEditorFields,
.wide_editor .fbNotifSettingsEditorFields{width:550px}
.fbSettingsEditorFields .extended_field,
.fbNotifSettingsEditorFields .extended_field{margin-right:-140px}
.fbSettingsEditorFields .spacer hr,
.fbNotifSettingsEditorFields .spacer hr{background-color:#ccc}
.fbSettingsError div{margin-left:159px}
.fbSettingsErrorLabel{color:#c66}
.fbNotifSettingsEditorLabel{left:0;position:absolute;width:165px}
.show_label .fbNotifSettingsEditorFields{margin-left:180px}
.fbNotifSettingsEditorFields{width:325px}
._6cw{border-bottom:1px solid #aaa}
._6cx{border-top:1px solid #aaa}
._nll{float:left;width:275px}
._nlm{margin-left:295px}
.fbSettingsList a.fbSettingsListLink{background:transparent;display:block;text-decoration:none}
.fbSettingsList a.fbSettingsListLink:hover{background:#f7f7f7;text-decoration:none}
.fbSettingsList .fbSettingsListItemLabel{color:#333;float:left;font-size:11px;width:165px}
.fbSettingsList .fbSettingsListItemEdited{background-color:#fff8bb}
.fbSettingsList .fbSettingsListItemContent{display:block;padding-left:5px;width:440px}
.fbSettingsListItemLabeled .fbSettingsListItemContent{margin-left:175px;padding-left:0;width:445px}
.fbSettingsList .fbSettingsListItemSaved, .fbSettingsList .fbSettingsListItemEdit{color:#3b5998;float:right;padding-left:25px;padding-right:5px;text-align:right}
.fbSettingsList .fbSettingsListItemSaved{color:#777}
.fbSettingsList a:hover .fbSettingsListItemEdit{text-decoration:underline}
.fbSettingsList a:hover .fbSettingsListItemEdit .img{visibility:visible}
.fbSettingsList .fbSettingsListItemEdit .img, .fbSettingsList a.async_saving .fbSettingsListItemEdit .img{visibility:hidden}
.fbSettingsList a.async_saving .fbSettingsListItemEdit{background-image:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif);background-repeat:no-repeat;background-size:auto;background-position:left 2px}
.fbSettingsList .content{display:none}
.fbSettingsList .fbSettingsListItemDelete{float:right;margin:12px 8px 0}
.fbSettingsList .SbxIframe iframe{vertical-align:top}
.fbSettingsMobileRegisterForm{width:275px}
.fbSettingsNotifs span.fbSettingsListItemLabel{width:300px}
.fbNotifSettingsPanelList span.fbSettingsListItemLabel{width:240px}
.fbSettingsNotifCount{display:inline-block;margin-right:10px;width:35px}
.fbSettingsNotifEditor .fbSettingsEditorFields{width:100%}
.fbSettingsNotifTable{border-spacing:0;width:100%}
.fbSettingsNotifTable.notifsList{margin-bottom:10px}
.fbSettingsNotifTable th,
.fbSettingsNotifTable tbody td{border-bottom:1px solid #e0e0e0;padding:5px 0}
.fbSettingsNotifTable .hide_borders td{border:0;line-height:20px}
.fbSettingsNotifTable th{padding-top:8px}
.fbSettingsNotifTable th .uiTooltip{display:block}
.fbSettingsNotifTable .email,
.fbSettingsNotifTable .sms{text-align:center;width:40px}
.fbSettingsNotifTable .notif{text-align:left;width:150px}
.fbSettingsNotifTable .fixedLengthLabel{width:82%}
.fbSettingsNotifTable .right-align{text-align:right}
.fbSettingsNotifTitle{color:#333;margin-left:-22px}
#show_more_link_label{margin-left:32px}
.fbSettingsNotifTable tbody td.bizNotificationsDivider{border-bottom:none;font-weight:bold;left:-170px;padding-top:40px;position:relative}
._3d{width:125px}
._3e{width:118px}
._3f{width:80px}
._3h{width:90px}
._3g{width:70px}
._9d{width:80px}
._3i{color:red}
._9e{width:77px;text-align:right}
._9f{width:67px;text-align:right}
.fbSettingsSections{border-bottom:1px solid #aaa}
.fbSettingsSections .fbSettingsSectionsItem{padding-top:0}
.fbSettingsSections .fbSettingsSectionsItem.fbSettingsSectionsItemBorderTop{border-top:1px solid #aaa}
.fbSettingsSectionsItem .fbSettingsList{border-top:0;border-bottom:0}
.fbSettingsSectionsItemName{font-size:11px;margin-bottom:10px;margin-top:10px;width:160px}
.fbSettingsSectionsItemContent{width:589px}
.fbSettingsSections .subscriberDropdown,
.fbSettingsSections .subscriberCheckbox,
.fbSettingsSections .publicSearchCheckbox{width:445px}
.SettingsPage #headerArea{padding-bottom:0}
html .fbSettingsNavigation .divider{background:#ccc;border:none;display:list-item;height:1px;margin:10px 0}
.fbSettingsList .openPanel .fbSettingsListLink,
.fbSettingsList .openPanel .fbSettingsListItemDelete{display:none}
.fbSettingsList .openPanel .content{display:block}
.fbSettingsList{border-bottom:1px solid #aaa;border-top:1px solid #aaa}
.fbSettingsCheckboxText{vertical-align:middle}
#SettingsPage_Content .megaphone_box{border-top-width:1px;margin-right:-20px}
.code textarea{font:12px monospace;width:575px}
.sp_1d9mgq{background-image:url(/rsrc.php/v2/yY/r/XCVdQTKCKpx.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_ea3843{width:52px;height:52px;background-position:0 0}
.sx_d23858{background-position:0 -53px}
.sx_bbcb19{background-position:-17px -53px}
.sx_7cb2b2{background-position:-34px -53px}
.sx_c0d2fc{background-position:0 -70px}
.sx_53965f{background-position:-17px -70px}
.sx_d05dcc{background-position:-34px -70px}
.sx_29a9cb{background-position:0 -87px}
.sp_2hylvc{background-image:url(/rsrc.php/v2/yT/r/lggxZKQDWNh.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:13px;width:8px}
.sx_e4b367{width:7px;height:12px;background-position:-9px -135px}
.sx_1ddce4{background-position:-10px -121px}
.sx_0038fb{width:9px;background-position:0 -121px}
.sx_4d51fb{background-position:0 -135px}
.sx_134e15{width:16px;height:16px;background-position:0 -104px}
.sx_23dffd{width:15px;height:19px;background-position:0 -65px}
.sx_1f4d13{height:8px;background-position:0 -149px}
.sx_4d9376{width:20px;height:20px;background-position:0 -23px}
.sx_ec142a{width:20px;height:20px;background-position:0 -44px}
.sx_1ef031{width:22px;height:22px;background-position:0 0}
.sx_c079bf{width:18px;height:18px;background-position:0 -85px}
.sp_87qd94{background-image:url(/rsrc.php/v2/y-/r/-m0XZAx2NK1.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_b2e5ff{background-position:-16px 0}
.selected .sx_b2e5ff{background-position:0 0}
.sx_3dbb7a{background-position:-16px -17px}
.selected .sx_3dbb7a{background-position:0 -17px}
.sx_0f01c6{width:18px;height:18px;background-position:0 -34px}
.sx_705dbd{background-position:0 -53px}
.sx_8bcfaf{width:14px;height:14px;background-position:-17px -69px}
.sx_796371{width:15px;height:15px;background-position:-17px -53px}
.sx_427cfe{background-position:0 -70px}
.sx_17f1a9{background-position:0 -87px}
.sx_b504ae{background-position:0 -104px}
.sx_0f3bdd{background-position:0 -121px}
.sx_a011a2{height:15px;background-position:0 -138px}
.sp_basyea{background-image:url(/rsrc.php/v2/yA/r/Hl4oyZE52m9.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:15px}
.sx_2b7878{width:16px;background-position:0 0}
.sx_a1d27d{background-position:0 -17px}
.sp_doespm{background-image:url(/rsrc.php/v2/y4/r/vVn_5MdXLYC.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:18px;width:18px}
.sx_de7dd8{width:16px;height:16px;background-position:-65px -83px}
.sx_ec65a4{width:64px;height:60px;background-position:0 -83px}
.sx_95a18f{width:82px;height:82px;background-position:0 0}
.sx_375694{background-position:0 -144px}

#bootloader_RAj7S { height: 42px; }
.bootloader_RAj7S { display:block !important; }