/*!CK:1886906626!*//*1383496229,173203031*/

.pagesJoinedFacebookUnit{text-align:center}
.pagesJoinedFacebookUnit .joinedTitle{font-size:18px}
.fbTimelineCapsule li.anchorUnit:last-child{background:#e7ebf2;margin-bottom:-15px;padding-bottom:15px}
#pagelet_timeline_recent .anchorUnit:last-child{margin-bottom:16px}

#bootloader_m_IYB { height: 42px; }
.bootloader_m_IYB { display:block !important; }