img.latex{border:none;vertical-align:middle;}.video-player{border:0;margin:auto;padding:5px;text-align:center;}.wpvidavee_title{font-family:Tahoma,Arial,sans-serif;font-size:10px;font-weight:bold;line-height:12px;padding:2px 5px;text-align:left;}.wpvidavee_footer{font-family:Tahoma,Arial,sans-serif;font-size:9px;line-height:11px;padding:2px 5px;text-align:right;}.wpvidavee_footer a{text-decoration:none;}.wpvidavee_p{color:red;}.hidden{display:none;}.possibly-related{clear:both;}.screen-reader-text{position:absolute;left:-1000em;}.comment object,
.comment embed{width:100%;}
/*
     FILE ARCHIVED ON 09:49:29 Feb 13, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:14:06 Aug 30, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 830.138
  exclusion.robots.policy: 0.183
  RedisCDXSource: 35.782
  CDXLines.iter: 17.076 (3)
  LoadShardBlock: 770.808 (3)
  PetaboxLoader3.datanode: 996.882 (5)
  PetaboxLoader3.resolve: 1349.919 (5)
  exclusion.robots: 0.196
  esindex: 0.015
  load_resource: 1680.426
*/