.textwidget input[type='text'], .textwidget textarea{width:100% !important;}.contact-form .clear-form{clear:both;}.contact-form input[type='text']{width:300px;margin-bottom:13px;}.contact-form select{margin-bottom:13px;}.contact-form textarea{height:200px;width:80%;float:none;margin-bottom:13px;}.contact-form input[type='radio'], .contact-form input[type='checkbox']{float:none;margin-bottom:13px;}.contact-form label{margin-bottom:3px;float:none;font-weight:bold;display:block;}.contact-form label.checkbox, .contact-form label.radio{margin-bottom:3px;float:none;font-weight:bold;display:inline-block;}.contact-form label span{color:#AAA;margin-left:4px;font-weight:normal;}
/*
     FILE ARCHIVED ON 09:49:28 Feb 13, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:14:06 Aug 30, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  load_resource: 2092.062
  PetaboxLoader3.datanode: 458.225 (5)
  exclusion.robots.policy: 0.122
  RedisCDXSource: 14.874
  captures_list: 382.071
  esindex: 0.013
  exclusion.robots: 0.132
  PetaboxLoader3.resolve: 1534.235 (2)
  LoadShardBlock: 325.232 (3)
  CDXLines.iter: 30.435 (3)
*/