/*!CK:1810333401!*//*1395630778,178158945*/

._4lc9{border-left:1px solid #d3d6db;border-right:1px solid #d3d6db}._4lca{background-color:#fff}._4lcb{display:block;padding:10px}._4lcb:hover{background-color:#f6f7f8;text-decoration:none}._4lcc{border-top:1px solid #d3d6db}
.friendOGReportUsers .actorsFacepile,.friendsAddedUnit{margin:-10px -22px -12px -18px}
.likeUnit{color:gray}.likeUnit .likeUnitImageContainer{width:85px;height:85px}.likeUnit .likeUnitName{max-height:28px;overflow:hidden}.singleLikeUnitName{padding-top:35px}.likeUnit .likeUnitTooltip{display:block;float:left;margin-right:10px;width:85px}.likeUnit .likeUnitNoMargin{margin-right:0}

#bootloader_ZBT_I { height: 42px; }
.bootloader_ZBT_I { display:block !important; }