/*    HTTP Host:  static.ak.fbcdn.net                                          */
/*    Generated:  September 1st 2009 9:51:20 AM PDT                            */
/*      Machine:  10.16.139.103                                                */
/*       Source:  Global Cache                                                 */
/*     Location:  css/adz/feedback_new.css h:cpuyewrd                          */
/*       Locale:  nu_ll                                                        */
/*         Path:  css/adz/feedback_new.css                                     */

.ads_feedback_new .next_ad{background:url(/rsrc.php/z28K9/hash/wjc46okw.png) no-repeat -484px -232px;display:inline-block;height:14px;margin-left:8px;margin-right:-10px;vertical-align:middle;width:14px}
.ads_feedback_new .next_ad:hover{background-position:-484px -215px;text-decoration:none}
.ads_feedback_new .hide{background:url(/rsrc.php/z8WRC/hash/2rqaa2im.gif) left top no-repeat;display:inline-block;height:12px;line-height:12px;margin-left:8px;margin-top:1px;text-decoration:none;vertical-align:top;width:11px}
.ads_feedback_new .hide:hover{background-position:left -12px;text-decoration:none}
.ads_feedback_new{float:right;padding-top:1px}
.ff2 .ads_feedback_new .hide,
.ff2 .ads_feedback_new .next_ad{display:-moz-inline-box}

#bootloader_css_adz_feedback_new_css { height: 42px; }