/*!CK:799396398!*//*1393209899,178183213*/

.fbProfileByline{width:493px;margin-top:4px;line-height:15px}
.fbProfileBylineFragment,
.fbProfileNonIconBylineFragment{margin-right:8px;color:#666}
.fbProfileBylineIcon{margin-bottom:1px;margin-top:1px;vertical-align:bottom}
.fbProfileLoggedOutByline{width:493px;margin-top:1px;line-height:14px}
.fbLongBlurb{margin-right:8px;color:#666;padding-bottom:3px}
.fbProfileBylineContextual .inferenceSource{text-align:center;margin-top:10px}
.fbProfileBylineContextual .typeahead{width:300px}
.pagesTimelineButtonPagelet{background-color:#e7ebf2;border-bottom:1px solid #c8d1e2;min-width:122px;padding:13px 0 12px 1px;top:38px;z-index:4}
.hasPagesManagerNavbar .pagesTimelineButtonPagelet{top:89px}
.fbTimelineWideRightCol .pagesTimelineButtonPagelet{min-width:244px}
body.hasVoiceBar .pagesTimelineButtonPagelet{top:64px}
body.hasVoiceBar.hasPagesManagerNavbar .pagesTimelineButtonPagelet{top:115px}
.pagesTimelineRightColumn .fbTimelineScrubber{top:87px}
.hasPagesManagerNavbar .pagesTimelineRightColumn .fbTimelineScrubber{top:138px}
body.hasVoiceBar .pagesTimelineRightColumn .fbTimelineScrubber{top:113px}
body.hasVoiceBar.hasPagesManagerNavbar .pagesTimelineRightColumn
.fbTimelineScrubber{top:164px}
#createPageButton .img{top:3px}
#createPageButton{padding-left:6px}
.sp_2p7iu7{background-image:url(/rsrc.php/v2/yg/r/0EDs4dJt2Ad.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:13px;width:9px}
.sx_9f18df{background-position:0 0}
.sx_96df30{background-position:0 -14px}
.sx_6516ac{background-position:0 -28px}
.sp_c8k7x4{background-image:url(/rsrc.php/v2/y5/r/ornbPiOI9S_.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_d425dd{width:35px;height:35px;background-position:0 0}
.sx_9448d2{width:35px;height:35px;background-position:0 -36px}
.sx_e887b1{width:35px;height:35px;background-position:0 -72px}
.sx_8718fd{width:35px;height:35px;background-position:0 -108px}
.sx_f27d13{background-position:-17px -144px}
.sx_7c9bd5{background-position:0 -162px}
.sx_7d6a6f{background-position:-17px -161px}
.sx_b9bdfa{background-position:0 -179px}
.sx_704617{height:17px;background-position:0 -144px}
.sx_8d96f5{background-position:-17px -178px}
.sx_977d05{width:10px;background-position:0 -196px}
.sx_a306ff{width:9px;background-position:-11px -196px}
.sx_8a2633{width:8px;height:13px;background-position:0 -227px}
.sx_cbeb81{width:11px;height:13px;background-position:-21px -196px}
.sx_7f8c1d{width:9px;height:13px;background-position:0 -213px}
.sx_6e6f78{width:9px;height:13px;background-position:-10px -213px}
.sx_397af5{width:9px;height:13px;background-position:-20px -213px}
.sp_dfyszi{background-image:url(/rsrc.php/v2/y-/r/yFHVjp10hdy.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:9px}
.sx_2d8e77{width:11px;height:11px;background-position:-17px -46px}
.sx_953c5d{width:16px;height:17px;background-position:0 -46px}
.sx_dcb954{width:16px;height:16px;background-position:0 -64px}
.sx_63bb62{width:12px;height:11px;background-position:-19px -33px}
.sx_525f6f{width:32px;height:32px;background-position:0 0}
.sx_e49bae{height:5px;background-position:-17px -58px}
.sx_2aa37b{height:5px;background-position:-17px -64px}
.sx_fa1fbf{background-position:-9px -33px}
.selected .sx_fa1fbf{background-position:0 -33px}
.sx_1de175{width:8px;background-position:-8px -81px}
.selected .sx_1de175{background-position:0 -81px}
.sp_l7ajbf{background-image:url(/rsrc.php/v2/yw/r/4rwUmdi9jea.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_17ea24{width:12px;height:14px;background-position:-12px -33px}
.selected .sx_17ea24{background-position:0 -33px}
.sx_2a0e1e{background-position:0 -105px}
.sx_cf0932{width:8px;height:8px;background-position:-15px -230px}
.sx_9201d1{width:12px;height:12px;background-position:-12px -48px}
.selected .sx_9201d1{background-position:0 -48px}
.sx_311b40{background-position:0 -122px}
.sx_b25e36{width:12px;height:12px;background-position:-12px -61px}
.selected .sx_b25e36{background-position:0 -61px}
.sx_589ed2{width:12px;height:12px;background-position:-12px -74px}
.selected .sx_589ed2{background-position:0 -74px}
.sx_47608f{width:12px;height:12px;background-position:0 -254px}
.sx_c10e84{width:12px;height:12px;background-position:0 -267px}
.sx_d4fdae{background-position:0 -139px}
.sx_136cca{background-position:0 -156px}
.sx_d564bc{background-position:0 -173px}
.sx_6b1e01{width:23px;height:32px;background-position:0 0}
.sx_726661{width:9px;height:5px;background-position:-15px -224px}
.sx_ad4041{background-position:0 -190px}
.sx_7dded1{width:14px;height:14px;background-position:0 -224px}
.sx_3a1e5c{width:14px;height:14px;background-position:0 -239px}
.sx_1c5ecf{width:13px;height:17px;background-position:0 -87px}
.sx_ecf6a9{background-position:0 -207px}
.sx_d0ebf7{width:5px;height:7px;background-position:-18px -254px}
.selected .sx_d0ebf7{background-position:-13px -254px}
.sx_87ad1d{width:8px;height:12px;background-position:-14px -87px}
._4-rr{display:inline-block}
._4-rr ._4-rs + ._4-rs{margin-left:-1px}
._4-rt{position:relative;z-index:1}
._4-ru{position:relative;z-index:2}
._4-rs._42fr{position:static}
._4-rr ._4-rs{-webkit-border-radius:0}
._4-rv ._4-rs:first-child{-webkit-border-bottom-left-radius:3px;-webkit-border-top-left-radius:3px}
._4-rv ._4-rs:last-child{-webkit-border-bottom-right-radius:3px;-webkit-border-top-right-radius:3px}
.uiInfoTable{border:0;border-collapse:collapse;border-spacing:0;width:100%}
.uiInfoTableFixed{table-layout:fixed}
.uiInfoTable .spacer td{padding:5px 0}
.noBorder .spacer td{padding:0;visibility:hidden}
.uiInfoTable .label,
.uiInfoTable .data,
.uiInfoTable .rightCol{padding:3px 0 1px 0;text-align:left;vertical-align:top}
.uiInfoTable .dataRow .data,
.uiInfoTable .dataRow .rightCol{padding-top:5px}
.uiInfoTable .data > input,
.uiInfoTable .data > label input,
.uiInfoTable .rightCol > input,
.uiInfoTable .rightCol > label input{margin-left:0}
.uiInfoTable .label{color:#666;font-weight:bold;padding-right:10px;text-align:right;width:130px}
.uiInfoTable .dataRow .label{padding-top:8px}
.uiInfoTable .label .annotation{color:#999}
.uiInfoTable .rightCol{padding:0 0 0 20px;width:225px}
._4h, ._4g{line-height:1.28em}
._4g{left:-9999999px !important;position:absolute !important}

#bootloader_Wlbbz { height: 42px; }
.bootloader_Wlbbz { display:block !important; }