/*!CK:2101957816!*//*1393220381,178174743*/

.fbCalendar.fbGroupCalendar .fbCalendarHeader{border:0;padding:0;width:auto}
.fbCalendar.fbGroupCalendar .fbCalendarItemContent{width:411px}
.fbCalendar.fbGroupCalendar .fbCalendarItemContent.fbCalendarItemNoTime{width:568px}
._6j4{line-height:18px;padding:4px 8px}
._5rr0 ._6j4, ._5pst ._6j4, ._5mgh ._6j4{margin:0 0 0 -6px;padding:0}
._6j4 .UFILikeLink, ._x7n{color:#6d84b4}
._4q5f{left:45px;position:absolute;top:65px;visibility:hidden}
._56bk ._4q5f{top:115px}
._56bk ._4q5f._5v9t, ._4q5f._5v9t{left:-1px;position:relative;top:4px;visibility:visible}
._5737 ._4q5f, ._58rc:hover ._4q5f, ._5rz:hover ._4q5f{visibility:visible}
._3qd9{position:relative}
._3qda{position:absolute;right:0;top:0;z-index:1}
._4-k4{display:inline-block;opacity:0;padding:5px;-webkit-transition:opacity .2}
._4-k5{background-image:url(/rsrc.php/v2/yk/r/39NzFoUfF2j.png);background-repeat:no-repeat;background-size:auto;background-position:3px 3px;background-color:#858585;background-color:rgba(101, 101, 101, .3);-webkit-border-radius:2px;height:15px;width:15px}
._4-k5:hover, ._4-k5:focus{background-color:#757575;background-color:rgba(101, 101, 101, .75)}
._4-k5:active{background-color:#656565}
._5737 ._4-k4, ._58rc:hover ._4-k4, ._3qd9:hover ._4-k4{opacity:1}
._agu{opacity:0;position:absolute;right:5px;top:4px;z-index:5}
._5rz3 ._agu{bottom:4px;top:auto}
._1xg4{margin-top:1px}
._agv{position:relative}
._5rz3:hover ._agu, ._5rz:hover ._agu, ._agu.uiButtonGroupActive, ._agv:hover ._agu, ._agu.openToggler{opacity:1}
._1eds{background-color:#fff}
._35q1.timelineAudienceSelector{margin-top:0}
._35q1 .wrap .uiSelectorButton, ._35q1 .wrap .uiSelectorButton:active, ._35q1 .wrap .uiSelectorButton:focus, ._35q1 .wrap .uiSelectorButton:hover, ._35q1 .wrap .uiButtonSuppressed:active, ._35q1 .wrap .uiButtonSuppressed:focus, ._35q1 .wrap .uiButtonSuppressed:hover, ._35q2 .uiButton{background-image:none;-webkit-border-radius:3px;line-height:12px;padding:1px 2px}
._35q1 .openToggler .uiSelectorButton, ._35q1 .openToggler .uiSelectorButton:active, ._35q1 .openToggler .uiSelectorButton:focus, ._35q1 .openToggler .uiSelectorButton:hover, ._35q1 .openToggler .uiButtonSuppressed:active, ._35q1 .openToggler .uiButtonSuppressed:focus, ._35q1 .openToggler .uiButtonSuppressed:hover{background-image:none}
._35q1 .wrap .uiSelectorButton .img, ._35q2 .uiButton .img{margin:0}
._1eds .uiPopover.openToggler .uiButton{visibility:visible}
._4eq1{position:relative}
._4cbt, ._4cbu{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._4cbt{font-weight:bold}
._4cbv{border:1px solid #e5e5e5;border-top-width:0;padding:6px 8px}
._4y6v{background:url(/rsrc.php/v2/yy/r/pdXmYIghoy4.png) no-repeat;bottom:0;left:0;pointer-events:none;position:absolute;right:0;top:0;z-index:1}
._4eq2{border:0;color:#fff;float:left;-webkit-font-smoothing:antialiased;font-weight:bold;left:14px;position:absolute;text-align:center;text-shadow:0 1px 4px rgba(0, 0, 0, .4);top:14px;vertical-align:top;width:auto;z-index:2}
._4eq5{font-size:11px;line-height:10px;text-transform:uppercase}
._4eq6{margin-bottom:-4px}
._5dik{min-height:272px;position:relative;white-space:nowrap}
._58rq{display:inline-block;left:0;position:relative;top:0;-webkit-transition:margin .5s}
._5rr0 ._58rq{-webkit-transition-duration:.3s}
._58rr, ._58rs{bottom:0;height:100%;margin:0;overflow:hidden;position:absolute;top:0;-webkit-transition:opacity .2s, width .5s;width:40px;z-index:1}
._58rr{left:0}
._58rs{right:0}
.highContrast ._58rr::before, .highContrast ._58rs::before{font-size:30px;position:absolute;top:95px}
.highContrast ._58rr::before{content:"<";right:10px}
.highContrast ._58rs::before{content:">";left:10px}
._58rf ._58rr, ._58rg ._58rs{display:none}
._58rt{height:100%;opacity:0;position:absolute}
._5dik:hover ._58rt{opacity:1}
._5dik:hover._58rj ._58rt, ._58rj ._58rt{opacity:0;-webkit-transition:opacity .0s, width .5s}
._5rr0._5dik:hover._58rj ._58rt, ._5rr0._58rj ._58rt{-webkit-transition:opacity .0s, width .3s}
._58ru{background-color:#d3d7dc;cursor:pointer;height:100%;opacity:.65;position:absolute;width:100%}
._58rm{height:45px;position:absolute;top:45px;-webkit-transition-duration:.5s;vertical-align:middle;width:27px}
.highContrast ._58ru, .highContrast ._58rm{display:none}
._58rr ._58rm{right:10px;-webkit-transition-property:right}
._5di6 ._58rr ._58rm{right:25px}
._58rs ._58rm{left:5px;-webkit-transition-property:left}
._5di5 ._58rs ._58rm{left:20px}
html ._58rc{margin-right:9px;width:145px}
html ._5bfv{vertical-align:top}
._5di6 ._58rq{margin:0 30px}
._5di5 ._58rq{margin:0 -30px}
._5rr0._5di6 ._58rq, ._5rr0._5di5 ._58rq, ._5rr8._5rr0._5di5 ._58rq{margin:0}
._5di6 ._58rr, ._5di5 ._58rs{width:70px}
._5di6 ._58rs, ._5di5 ._58rr{width:10px}
._58rn{background:#bec3cb;margin-bottom:34px}
._5e89{position:relative}
._5e8a{background-color:#fff;left:6px;padding:1px;position:absolute;top:6px}
._14b9._620{margin:0 -12px 6px 0}
html ._14b9 ._5rz{margin:0 12px 12px 0;width:196px}
html ._14b9._5pst ._5rz, html ._14b9._5mgh ._5rz{margin:0 9px 9px 0;width:129px}
._14b9 ._r95, ._14b9 ._gx6{border:1px solid #e9eaed;border-top:0}
._14b9 ._r95:empty{border:0}
._14b9 ._gx6{height:28px;overflow:hidden;padding:6px 8px 5px}
._14b9 ._46_g{height:42px;overflow:hidden;padding:6px 8px 5px}
._14b9 ._1fs8{height:14px}
._14b9._5pst ._gx6, ._14b9._5mgh ._gx6{height:auto}
._14b9 ._5d7q{height:28px}
._14b9 ._1fs7 ._1fs8{height:28px;white-space:normal}
._14b9 ._14a_{cursor:pointer;padding:0 0 0 5px}
._4_zu{padding:8px 12px}
._6nw._cf_ #globalContainer ._4_zv.fcb, ._4_zu ._4_zv.fcb{color:#4e5866;font-size:13px;font-weight:bold;line-height:18px;margin-top:3px}
._2i12 ._58rl{height:198px;line-height:16px;margin:0 -21px 0 -1px;position:relative;white-space:nowrap}
._52bu ._1_nr._620{display:block}
._4kgc + ._4kgb ._1_nr._620{left:-790px;-webkit-transition:left .5s ease-out}
html ._2i12 ._5rz{margin:0 13px 0 0;width:145px}
._2i12 ._gx6{height:25px;padding:6px 0}
._4bn5{vertical-align:middle}
html ._51i8{margin-left:5px;vertical-align:middle}
._2i12 ._gx7, ._5dtt ._gx7{color:#6a7480 !important;padding-bottom:1px}
._2i12 ._gx8::after{border:0}
._2i12 ._gx8{-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25)}
._4kg6{height:198px;position:relative}
._2i12{border-top:1px solid #c1c6cd;height:198px;overflow:hidden;padding:16px 12px 4px}
._5v9j._2i12{height:214px}
._5b8g{color:#4e5866;height:210px;line-height:18px;text-align:center}
._5b8g
._5b8h{font-size:14px;margin:0 auto;padding-top:63px}
._5b8g
._5b8i{font-size:10px;line-height:44px}
._58rl{left:-12px;position:relative;width:850px}
._56bk ._58rm{top:75px}
._56bk ._1_nr._620, ._56bk ._4kg6, ._56bk ._2i12{height:273px}
._56bk ._5v9j._2i12{height:289px}
._505s{display:block;margin:90px auto 0}
._56bk ._505s{margin-top:125px}
._4kga{cursor:pointer;height:200px;left:789px;position:absolute;width:78px;z-index:2}
._4kga:hover{left:759px}
._4kga:hover + ._4kgb{left:-30px}
._4r-6{left:-30px;opacity:0;position:absolute;-webkit-transition:opacity .2s}
._4kg6:hover ._4r-6{opacity:1}
._4kga:hover ._4r-6{left:0}
._4kgc ._4r-6, ._4kg6:hover ._4kgc ._4r-6{opacity:0;-webkit-transition:opacity .0s}
._4r-7{background-color:#d3d7dc;cursor:pointer;height:200px;left:30px;opacity:.65;position:absolute;-webkit-transition:left .5s;width:78px}
._56bk ._4kga, ._56bk ._4r-7{height:261px}
._4kga:hover ._4r-7{left:0}
._4r-8{height:45px;left:40px;position:absolute;top:45px;-webkit-transition:left .5s;width:27px}
._56bk ._4r-8{top:90px}
._4kg9 ._4r-8{display:none}
._4kga:hover ._4r-8{left:28px}
._4r-9{display:none;height:32px;left:38px;padding-left:4px;position:absolute;top:55px;-webkit-transition:left .5s;width:32px}
._56bk ._4r-9{top:92px}
._4kg9 ._4r-9{display:inline-block}
._4kga:hover ._4r-9{left:23px}
._4kgb{left:0;position:absolute;-webkit-transition:left .5s}
._5b8j._4iht{padding:11px 9px}
._4ihw ._5b8j._4iht .img{display:inline-block;vertical-align:middle}
._50g_{color:#fff;font-size:14px;margin-left:6px;vertical-align:middle}
._2i12 ._1fs8{color:#89919c;overflow:hidden;text-overflow:ellipsis;white-space:normal}
._2i12 ._58rn{height:145px}
._56bk ._2i12 ._58rn{height:217px}
._58rc._5ak_{width:auto}
._5kt_._2i12{height:auto;min-height:535px}
._56bk ._5kt_._2i12{height:auto;min-height:590px}
._4-sn{margin-left:-12px}
._1v6c, ._c6n{margin-bottom:12px;margin-left:12px;position:relative;width:194px}
._1v6c{width:404px}
._8up .UFILikeLink, ._8up .comments_link{color:#6d84b4}
.async_saving ._kk0.uiLoadingIndicatorAsync{display:none}
.async_saving._kk1 ._kk0.uiLoadingIndicatorAsync{display:inline;margin-top:4px}
._55na{opacity:.3}
._55na:hover{opacity:1.0}
.async_saving._kk1 ._55na{display:none}
._c2p{position:relative}
._c2q{background-color:#f9f9f9;border:1px solid #e5e5e5;bottom:0;left:0;padding:0 20px;position:absolute;right:0;text-align:center;top:0;z-index:3}
._5pst ._c2q, ._5mgh ._c2q{padding:0 6px}
._4zz ._c2q{border:0}
._3r97{display:table;height:100%;margin:0 auto}
._3r98{display:table-cell;vertical-align:middle}
._c2r{display:block;margin:7px auto}
._4-iv{bottom:0;left:0;margin:auto;position:absolute;right:0;top:0}
body .uiButtonGroup .openToggler ._nk, body .uiButtonGroup .openToggler ._nm, body .uiButtonGroup .openToggler ._nl{-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0}
body .uiButtonGroup .openToggler ._nn, body .uiButtonGroup .openToggler ._np, body .uiButtonGroup .openToggler ._no{-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0}

#bootloader_gGBh_ { height: 42px; }
.bootloader_gGBh_ { display:block !important; }