/*!CK:1046622594!*//*1395655988,178154559*/

.sp_b751qn{background-image:url(/rsrc.php/v2/yD/r/PAjJY5ifB6j.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}.sx_72921a{background-position:0 0}.sx_e6857e{background-position:0 -33px}
.sp_nybdz6{background-image:url(/rsrc.php/v2/yb/r/sh4cIHX4-RL.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}.sx_8406d2{background-position:0 0}.sx_25d3cc{background-position:0 -33px}.sx_837fe3{background-position:0 -66px}.sx_18d390{background-position:0 -99px}

#bootloader__YVhm { height: 42px; }
.bootloader__YVhm { display:block !important; }