/*!CK:2727393159!*//*1395707748,178154559*/

.sp_2bsafo{background-image:url(/rsrc.php/v2/y3/r/Y52PKe9KMgC.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}.sx_7f1fbe{background-position:0 0}.sx_0df3d0{background-position:0 -33px}.sx_c1b11e{background-position:0 -66px}
.sp_vzqn12{background-image:url(/rsrc.php/v2/yk/r/Ammf4EfbQJ9.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}.sx_31bae8{background-position:0 0}.sx_ca7c73{background-position:0 -33px}.sx_29f75e{background-position:0 -66px}.sx_964ca7{background-position:0 -99px}.sx_31df58{background-position:0 -132px}.sx_1153d1{background-position:0 -165px}

#bootloader_g98aT { height: 42px; }
.bootloader_g98aT { display:block !important; }